* {
	box-sizing: border-box;
	color: white;
}

#Labels {
	display: flex;
	background-color: red;
}

#wrapper {
	background-color: orange;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#break-label {
	margin-right: 50px;
}

/* #session-label {
	margin-left: 100px;
} */
