* {
	box-sizing: border-box;
	color: white;
}

#Labels {
	display: flex;
	font-size: 1.5em;
}

#start_stop,
#reset {
	font-size: 1.5em;
	border: none;
	background: none;
	cursor: pointer;
	outline: none;
}
#wrapper {
	background-color: orange;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#timer-wrapper {
	border: 5px rosybrown solid;
	border-radius: 15px;
	padding: 0px 40px;
	text-align: center;
	margin: 30px 0px;
	font-size: 1.5em;
}

#break-label {
	margin-right: 20px;
	text-align: center;
}

#session-label {
	margin-left: 20px;
	text-align: center;
}
